/*gloabal*/
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  padding-top: 40px;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}
a {
  text-decoration: none;
  color: #000000;
}
img {
  max-width: 100%;
  height: auto;
}
/*gloabal*/
/*header*/
.page-header .container {
  display: flex;
  background-color: rgba(240, 197, 46, 0.5);
  position: relative;
  padding-top: 33px;
  padding-left: 60px;
  padding-right: 60px;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
}
.logo {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.01em;
}
.logo_header {
  position: absolute;
  top: 0;
  left: 58px;
  margin-top: -24px;
}
.logo_header-link:hover,
.logo_header-link:focus {
  opacity: 0.6;
}
.logo_header-link:active {
  opacity: 0.3;
}
.page-header__left-col {
  width: 500px;
  margin-right: 40px;
  box-sizing: border-box;
  position: relative;
}
.page-header__left-col::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  background-color: rgba(0,0,0,0.3);
  right: 255px;
  top: 81px;
  margin-top: 8px;
}
.page-header__left-col::before {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  background-color: rgba(0,0,0,0.3);
  right: 255px;
  top: 81px;
  margin-top: 8px;
  transform: rotate(90deg);
}
.form-search {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.form-search__icon {
  position: absolute;
  top: 18px;
  left: 4px;
  cursor: pointer;
}
.form-search__input {
  border: 0;
  width: 355px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
  height: 49px;
  padding: 14px 19px;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: transparent;
}
.form-search__input::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}
.form-search__input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.form-search__input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}
.form-search__btn {
  width: 85px;
  height: 49px;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  display: none;
  padding: 5px 20px;
  box-sizing: border-box;
}
.form-search__input:focus ~ .form-search__btn {
  display: block;
}
.form-search__btn:hover,
.form-search__btn:focus {
  background-color: #000000;
  color: #ffffff;
}
.form-search__btn:active {
  background-color: #000000;
  color: rgba(255,255,255,0.3);
}
.page-header__link {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2em;
  position: relative;
  padding-right: 32px;
}

.page-header__link:hover,
.page-header__link:focus,
.list-navigation__link:hover,
.list-navigation__link:focus {
  opacity: 0.6;
}
.page-header__link:active,
.list-navigation__link:active {
  opacity: 0.3;
}
.page-header__right-col {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 500px;
  box-sizing: border-box;
  padding-top: 10px;
}
.list-user {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  width: 260px;
  margin-right: 27px;
  margin-bottom: 40px;
}
.list-user__icon_avatar {
  margin-right: 9px;
}
.list-user__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.list-cart {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.list-cart__item_compare {
  margin-right: 41px;
}
.list-cart__icon_compare {
  margin-right: 6px;
}
.list-cart__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.list-cart__icon_cart {
  margin-right: 6px;
}
.list-user__link:hover,
.list-cart__link:hover,
.list-user__link:focus,
.list-cart__link:focus {
  opacity: 0.6;
}
.list-user__link:active,
.list-cart__link:active {
  opacity: 0.3;
}
.main-navigation {
  width: 500px;
  margin-bottom: 88px;
}
.list-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.list-navigation__item_delivery {
  margin-right: 34px;
}
.list-navigation__link {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2em;
}
.list-navigation__item_warranty {
  margin-right: 109px;
}
.menu {
  display: none;
}
.menu_show {
  display: block;
}
.menu__inner {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  background-color: #f7e296;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 7px;
  box-sizing: border-box;
}
.menu__left-col {
  width: 200px;
  margin-right: 40px;
}
.menu__midle-col {
  width: 160px;
  margin-right: 40px;
}
.menu__right-col {
  width: 160px;
}
.list-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 34px;
}
.list-menu__link {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.list-menu__link:hover,
.list-menu__link:focus {
  opacity: 0.6;
}
.list-menu__link:active {
  opacity: 0.3;
}
.page-header__menu-line {
  width: 100px;
  height: 7px;
  margin-bottom: 67px;
  background-color: #ffffff;
}
/*header*/
/*main*/
.slider {
  display: block;
}
.list-slides {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-slides__item {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.list-slides__item_slide1 {

}
.list-slides__item_slide2 {
  display: none;
}
.list-slides__item_slide3 {
  display: none;
}
.list-slides__left-col {
  width: 560px;
  margin-right: 40px;
  position: relative;
}
.list-slides__right-col {
  width: 560px;

}
.list-slides__item-img {
  position: absolute;
  right: 0;
  top: 0;
}
.list-slides__item-img_1 {
  margin-top: -111px;
  right: 87px;
}
.list-slides__item-number {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #ffffff;
  position: absolute;
  right: 46px;
  top: 0;
  margin-top: -123px;
}
.list-slides__item-title {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0;
}
.list-slides__item-desc {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;

}
.link {
  display: block;
  height: 8px;
  background-color: #f0c52e;
  text-align: center;
  position: relative;
}
.link_slides-link {
  width: 220px;
}
.link_slides-link::before {
  position: absolute;
  content: 'ПОДРОБНЕЕ';
  letter-spacing: 0.2em;
  left: 0;
  top: 0;
  margin-top: -7px;
  width: 100%;
}
.list-slides__item-table {

}
.list-slides__item-tr {

}
.list-slides__item_tr1 {

}
.list-slides__item-td {

}
.list-slides__item-td_top {
  font-family: 'gilroylight';
  font-size: 36px;
  line-height: 48px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.01em;
}
.list-slides__item_tr2 {

}
.list-slides__item-td_bottom {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.list-controls {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.list-controls__item_1 {
  margin-right: 21px;
}
.list-controls__item_2 {
  margin-right: 21px;
}
.list-controls__toggle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding: 0;
  background-color: transparent;
  position: relative;
}
.list-controls__toggle_active::before {
  position: absolute;
  width: 4px;
  height: 4px;
  content: '';
  top: 2px;
  left: 2px;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 0;
}

.catalog {

}
.list-catalog {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.list-catalog__item {
  margin-right: 40px;
}
.list-catalog__img-inner {
  margin: 0;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-catalog__img-inner_2 {
  align-items: flex-end;
}
.list-catalog__title {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.01em;
  margin: 0;
}
/*main*/
